body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: rgb(190, 33, 33);
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin-left: 50px;
    font-size: 40px;
}

.logout-icon {
    margin-right: 50px;
    margin-left: auto;
    font-size: 40px;
}

.content {
    margin: 20px;
}

.table {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

button {
    width: 100%;
    background-color: red;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: darkred;
}
